@model IEnumerable<AdminLteMvc.Models.WEBSales.Users>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}


<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>User Name</th>
                            <th>First Name</th>
                            <th>Middle Name</th>
                            <th>Last Name</th>
                            <th>Job Title</th>
                            <th>Active</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @{
                            foreach (var item in ViewBag.usr)
                            {
                                <tr id="row_@item.ID">
                                    <td>@AdminLteMvc.Functions.Hash.Decrypt(item.UserName,true)</td>
                                    <td>@item.FirstName</td>
                                    <td>@item.MiddleName</td>
                                    <td>@item.LastName</td>
                                    <td>@item.JobTitle</td>
                                    <td>@item.active</td>
                                    <td>
                                        <a onclick="ConfirmDelete(@item.ID)" disabled><i class='fa fa-trash'></i></a>
                                        <a onclick="setUser(@item.ID)"><i class='fa fa-user-plus'></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                @*<button type="button" id="addnew" class="btn btn-primary" data-toggle="modal" data-target="#modal-add"> <i class="fa fa-plus-circle fa-1x"></i> Add </button>*@
            </div>
        </div>

        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
<!-- /.content -->
<!-- /.modal -->

<input type="hidden" id="hiddenEmployeeId" />
@{
    var succ = TempData["Message"];
    if (succ == "saved")
    {
        <script type="text/javascript">
            $(function () {
                $.notify("Saved successfully.", "success");
            });
        </script>
    }
    if (succ == "failed")
    {
        <script type="text/javascript">
            $(function () {
                $.notify("Data is already exist.", "error");
            });
        </script>
    }
}
@section Scripts{
    <script src="~/Scripts/bootstap-toggle.js"></script>
    <!-- page script -->
    <script>
        $(function () {
            $('#example1').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })

        });
     
    </script>
}
<style>
    table.dataTable thead .sorting:after {
        opacity: 0.2;
        content: "";
    }

    table.dataTable thead .sorting_asc:after {
        content: "";
    }

    .modal-lg {
        width: 1200px;
    }
</style>
