@model AdminLteMvc.Models.WEBSales.EirPullOut
@{
    ViewBag.Title = "EirPullOut";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

<div class="box box-success">
    <div class="box-body">

        <div class="row">
            <div class="col-md-3">
                <h4>
                    <b>KARGAMINE TOO, INC.</b>
                </h4>
                <span style="font-size:10px;">
                    Unit A4-B Las Buesnas Bldg., #37 Industrial Avenue, Potrero, Malabon<br />
                    Tel No: 8788-9396   &nbsp;&nbsp;  Fax: 7799-604
                </span>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <h4><b><i>Equipment Interchange Receipt</i></b></h4>
            </div>
        </div>

        <br />
        <br />
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="txn">SELECT TXN:</label>
                    <select id="trnNo" class="form-control select2">
                        @{
                            foreach (var item in ViewBag.Trns)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="eirNo">EIR No</label>
                    <input type="text" style="color:red;" class="form-control" id="eirno" readonly="true">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="issueDate">Issue Date</label>
                    @Html.EditorFor(model => model.EIRODate, new { htmlAttributes = new { @type = "date", @class = "form-control", id = "eirodate", @Value = ViewBag.DateToday } })
                </div>
                <div class="form-group">
                    <label for="convanNo">Convan No.</label>
                    @Html.EditorFor(model => model.EIROConvanNo, new { htmlAttributes = new { @class = "form-control", id = "eirocvno", @readonly = true } })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="issueTime">Issue Time</label>
                    @Html.EditorFor(model => model.EIROTime, new { htmlAttributes = new { @class = "form-control", id = "eirotime", @Value = ViewBag.TimeToday, @readonly = true } })
                </div>
                <div class="form-group">
                    <label for="shipper">Shipper</label>
                    @Html.EditorFor(model => model.EIROShipper, new { htmlAttributes = new { @class = "form-control", id = "eiroshipper", @readonly = true } })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="serviceType">Service Type</label>
                    @Html.EditorFor(model => model.EIROServiceType, new { htmlAttributes = new { @class = "form-control", id = "eirostype", @Value = ViewBag.ServiceType, @readonly = true } })
                </div>
                <div class="form-group">
                    <label for="convanStatus">Convan Satatus</label>
                    @Html.EditorFor(model => model.EIROConvanStatus, new { htmlAttributes = new { @class = "form-control", id = "eirocvstat", @Value = ViewBag.ConVanStatus, @readonly = true } })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="transactionNo">Transaction No.</label>
                    @Html.EditorFor(model => model.EIROTransactionNo, new { htmlAttributes = new { @class = "form-control", id = "eirotrn", @readonly = true } })
                </div>
                <div class="form-group">
                    <label for="convanSize">Convan Size</label>
                    @Html.EditorFor(model => model.EIROConvanSize, new { htmlAttributes = new { @class = "form-control", id = "eirocvsize", @Value = ViewBag.ConvanSize, @readonly = true } })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="CONSIGNEE">Consignee</label>
                    @Html.TextAreaFor(model => model.EIROConsignee, new { id = "eiroconsignee", @class = "form-control", style = " rows=20, columns=40", @readonly = true })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="driver">Driver's Name</label>
                    @Html.EditorFor(model => model.EIRODriversName, new { htmlAttributes = new { @class = "form-control", id = "eirodrivername", @Value = ViewBag.DriversName } })
                </div>
                <div class="form-group">
                    <label for="vessel">Vessel</label>
                    @Html.DropDownListFor(model => model.EIROVessel, ViewBag.VesselList as SelectList, "Select", new { @class = "form-control select2", id = "EIROVessel" } )
                </div>
                <div class="form-group">
                    <label for="portOrigin">Port of Origin</label>
                    @Html.DropDownListFor(model => model.EIROPortOfOrigin, ViewBag.OriginList as SelectList, "Select",  new { @class = "form-control select2", id = "EIROPortOfOrigin" } )
                </div>

            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="trucker">Trucker</label>
                    @Html.EditorFor(model => model.EIROTrucker, new { htmlAttributes = new { @class = "form-control", id = "eirotrucker", @Value = ViewBag.Trucker } })
                </div>
                <div class="form-group">
                    <label for="voyageNo">Voyage No.</label>
                    <select id="EIROVoyageNo" class= "form-control select2">
                        <option value="0">Select</option>
                    </select>
                    @*@Html.DropDownListFor(model => model.EIROVoyageNo, new SelectList("0"), "Select",  new { @class = "form-control select2", id = "EIROVoyageNo" } )*@
                </div>
                <div class="form-group">
                    <label for="portDestination">Port of Destination</label>
                    @Html.DropDownListFor(model => model.EIROPortOfDestination, ViewBag.DestinationList as SelectList, "Select",  new { @class = "form-control select2", id = "EIROPortOfDestination" } )
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="plateNo">Plate No.</label>
                    @Html.EditorFor(model => model.EIROPlateNo, new { htmlAttributes = new { @class = "form-control", id = "eiroplateno", @Value = ViewBag.PlateNo } })
                </div>
                <div class="form-group">
                    <label for="sealNo">Seal No.</label>
                    @Html.EditorFor(model => model.EIROSealNo, new { htmlAttributes = new { @class = "form-control", id = "sealno" } })
                </div>
                <div class="form-group">
                    <label for="weight">Weight</label>
                    @Html.EditorFor(model => model.EIROWeight, new { htmlAttributes = new { @class = "form-control", id = "weight" } })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="relayPort">Relay Port</label>
                    @Html.EditorFor(model => model.EIRORelayPort, new { htmlAttributes = new { @class = "form-control", id = "EIRORelayPort", @Value = ViewBag.RelayPort } })
                </div>
                <div class="form-group">
                    <label for="sealStatus">Seal Status</label>
                    @Html.DropDownListFor(model => model.EIROSealStatus, ViewBag.SealStatusList as SelectList, "Select",  new { @class = "form-control select2", id = "EIROSealStatus" } )
                </div>
                <div class="form-group">
                    <label for="volume">Volume</label>
                    @Html.EditorFor(model => model.EIROVolume, new { htmlAttributes = new { @class = "form-control", id = "volume" } })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="form-group">
                    <label for="damageCode">Damage Code</label>
                    <select id="damagecodes" class="form-control" multiple="multiple">
                        @{
                            foreach (var item in ViewBag.DamageList)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="scr">Shipping Company Representative</label>
                    @Html.EditorFor(model => model.EIROSCR, new { htmlAttributes = new { @class = "form-control", id = "eiroscr" } })
                </div>
            </div>

            @*<img src="~/AppFiles/Images/container.PNG" />*@
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="remarkss">Remarks</label>
                    @Html.TextAreaFor(model => model.EIRORemarks, new { id = "EIRORemarks", @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button type="button" class="btn btn-primary" id="submit"> <i class="fa fa-pencil fa-1x"></i> Pull Out </button>
        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("IndexOut", "EIR")'"> <i class="fa fa-cancel fa-1x"></i> Cancel</button>
    </div>
</div>

<link href="~/Content/bootstrap-toggle.css" rel="stylesheet" />
<script src="~/Scripts/bootstap-toggle.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryui")

                <script type="text/javascript">
    $("#damagecodes").chosen();

    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1;
    var yyyy = today.getFullYear();
    if (dd < 10) {
        dd = '0' + dd
    }
    if (mm < 10) {
        mm = '0' + mm
    }

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("eirodate").value = today;

      $(document).ready(function () {
            $('.select2').select2()

          $("#EIROVessel").change(function () {
              var ves = $("#EIROVessel").val();
              console.log(ves);
              $.get("../../../EIR/GetVesselNo", { vesselID: ves }, function (data) {
                  $("#EIROVoyageNo").empty();
                  $("#EIROVoyageNo").append("<option value='0'>Select</option>")
                    $.each(data, function (index, row) {
                        $("#EIROVoyageNo").append("<option value='" + row.voyageID + "'>" + row.voyageNo + "</option>")
                    });
                });
            });

            $('#trnNo').on("change", function () {
                    var trnchosen = document.getElementById('trnNo').value;
                var atwID = @Html.Raw(Json.Encode(ViewBag.ATWID));

                $.get("../../../EIR/GetDataFromTrn", { ID: atwID, trnselected: trnchosen }, function (data) {
                    console.log(data);
                    document.getElementById("eirno").value = data.EIRNo;
                    document.getElementById("eirostype").value = data.STYPE;
                    document.getElementById("eirocvno").value = data.CVNO;
                    document.getElementById("eirocvstat").value = data.CSTAT;
                    document.getElementById("eirocvsize").value = data.CSIZE;
                    document.getElementById("eiroconsignee").value = data.CONSIGNEE;
                    document.getElementById("eirodrivername").value = data.DRIVER;
                    document.getElementById("eiroshipper").value = data.SHIPPER;
                    document.getElementById("eirotrucker").value = data.TRUCKER;
                    document.getElementById("eiroplateno").value = data.PLATENO;
                    document.getElementById("EIRORelayPort").value = data.RELAYPORT;
                    document.getElementById("eirotrn").value = data.TRN;
                });

                   
                });
        });

        $('#submit').click(function () {
            var isAllValid = true;
            if ($('#eirodate').val().trim() == '') {
                $.notify("Issue Date is required.", "error");
                isAllValid = false;
            }
            if ($('#eirotime').val().trim() == '') {
                $.notify("Issue Time is required.", "error");
                isAllValid = false;
            }
            if ($('#eirostype').val().trim() == '') {
                $.notify("Service Type is required.", "error");
                isAllValid = false;
            }
            if ($('#eirocvstat').val().trim() == '') {
                $.notify("ConVan Status is required.", "error");
                isAllValid = false;
            }
            if ($('#eirocvsize').val().trim() == '') {
                $.notify("ConVan Size is required.", "error");
                isAllValid = false;
            }
            if ($('#eiroconsignee').val().trim() == '') {
                $.notify("Consignee is required.", "error");
                isAllValid = false;
            }
            if ($('#eirodrivername').val().trim() == '') {
                $.notify("Driver's Name is required.", "error");
                isAllValid = false;
            }
            if ($('#eirotrucker').val().trim() == '') {
                $.notify("Trucker is required.", "error");
                isAllValid = false;
            }
            if ($('#eiroplateno').val().trim() == '') {
                $.notify("Plate No is required.", "error");
                isAllValid = false;
            }
     
            var a = document.getElementById("EIROVessel");
            var vesselselected = a.options[a.selectedIndex].text;
            var vesselselectedId = a.options[a.selectedIndex].value;

        

            var b = document.getElementById("EIROVoyageNo");
            var voyageselected = b.options[b.selectedIndex].text;
            var voyageselectedId = b.options[b.selectedIndex].value;

       

            var c = document.getElementById("EIROPortOfOrigin");
            var originselected = c.options[c.selectedIndex].text;

            if (originselected.trim() == '' || originselected == "-- Select --") {
                $.notify("Port of Origin is required.", "error");
                isAllValid = false;
            }

            var d = document.getElementById("EIROPortOfDestination");
            var destinationselected = d.options[d.selectedIndex].text;

     

            if ($('#sealno').val().trim() == '') {
                $.notify("Seal No is required.", "error");
                isAllValid = false;
            }

            var e = document.getElementById("EIROSealStatus");
            var sealstatselected = e.options[e.selectedIndex].text;

            if (sealstatselected.trim() == '' || sealstatselected == "Select") {
                $.notify("Seal Status is required.", "error");
                isAllValid = false;
            }

           

            if ($('#damagecodes').val() == '' || $('#damagecodes').val() == null) {
                $.notify("Damage Codes is required.", "error");
                isAllValid = false;
            }

            if ($('#eiroscr').val().trim() == '') {
                $.notify("Shipping Company Representative is required.", "error");
                isAllValid = false;
            }


            var h = @Html.Raw(Json.Encode(ViewBag.ListofTrns));


            var IDpassed = @Html.Raw(Json.Encode(ViewBag.ATWID));
            var ATWBkNo = @Html.Raw(Json.Encode(ViewBag.ATWBkNo));


            if (isAllValid) {
                var tempcode = $('#damagecodes').val().join();
                var dmgcds = tempcode.toString();

                var eirData = {
                    EIRONo: $('#eirno').val(),
                    EIROAtwBkNo: ATWBkNo,
                    EIRODate: $('#eirodate').val(),
                    EIROTime: $('#eirotime').val(),
                    EIROServiceType: $('#eirostype').val(),
                    EIROConvanNo: $('#eirocvno').val(),
                    EIROConvanStatus: $('#eirocvstat').val(),
                    EIROConvanSize: $('#eirocvsize').val(),
                    EIROTransactionNo: $('#eirotrn').val(),
                    EIRORelayPort: $('#EIRORelayPort').val(),
                    EIROShipper: $('#eiroshipper').val(),
                    EIROConsignee: $('#eiroconsignee').val(),
                    EIROTrucker: $('#eirotrucker').val(),
                    EIROPlateNo: $('#eiroplateno').val(),
                    EIRODriversName: $('#eirodrivername').val(),
                    EIROVessel: vesselselected,
                    EIROVoyageNo: voyageselected,
                    EIROPortOfOrigin: originselected,
                    EIROPortOfDestination: destinationselected,
                    EIROSealNo: $('#sealno').val(),
                    EIROSealStatus: sealstatselected,
                    EIROWeight: $('#weight').val(),
                    EIROVolume: $('#volume').val(),
                    EIRODamagesCode: dmgcds,
                    EIROSCR: $('#eiroscr').val(),
                    EIROStatus: "Pull-Out",
                    EIRORemarks: $('#EIRORemarks').val(),
                    vesselID: vesselselectedId,
                    voyageID: voyageselectedId
                }

                console.log(eirData);
                console.log(IDpassed);

                var counter = @Html.Raw(Json.Encode(ViewBag.CounterNo));
                var cn1 = @Html.Raw(Json.Encode(ViewBag.cn1));
                var cn2 = @Html.Raw(Json.Encode(ViewBag.cn2));

                var cv = $('#eirocvno').val();

                var cn;
                if (cv == cn1) {
                    cn = cn2;
                } else {
                    cn = cn1;
                }

                $.ajax({
                        type: 'POST',
                    url: '../../../EIR/Save',
                    data: JSON.stringify({ data: eirData}),
                        contentType: 'application/json',
                    success: function (data) {
                        data.responseText;
                        console.log("I'M IN");
                        console.log(data.status);
                            if (data.status) {
                                $.notify("Operation successfully posted.", "success");
                                console.log(counter);
                                if (data.flag == 1) {
                                    window.location.href = '/EIR/EirPullOut/?ID=' + IDpassed + '&cvno1=' + cn + '&counter=2&cvno2='
                                    
                                } else {
                                    var url = '@Url.Action("IndexOut", "EIR")';
                                    window.location.href = url;
                                }

                            }
                            else {
                                $.notify("Operation failed to post.", "error");
                            }
                        },
                        error: function (error) {
                            console.log(error);
                            error.responseText;
                            $('#submit').text('Save');
                        }
                    });
            }
        })
                </script>
            }

            <style type="text/css">
                #EIROVessel, #EIROVoyageNo, #EIROPortOfOrigin, #EIROPortOfDestination, #EIROSealStatus {
                    display: block;
                    width: 100%;
                    height: 34px;
                    padding: 6px 12px;
                    font-size: 14px;
                    line-height: 1.42857143;
                    color: #555;
                    background-color: #fff;
                    background-image: none;
                    border: 1px solid #ccc;
                    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
                }


                textarea#EIRORemarks.form-control {
                    resize: none;
                }

                textarea#eiroconsignee.form-control {
                    resize:none;
                }
                .select2-container--default .select2-selection--single {
                    background-color: #fff;
                    border: 1px solid #aaa;
                    border-radius: 0px;
                }

                .select2-container .select2-selection--single {
                    box-sizing: border-box;
                    cursor: pointer;
                    display: block;
                     height: 31px; 
                    user-select: none;
                    -webkit-user-select: none;
                }
            </style>
